*{
    margin: 0;
    padding: 0;
}

.pages{
    width: 80%;
    list-style: none;
}

.logo{
    width: 20%;
}

.logo img{
    width: 100%;
}

.pages .nav-item{
    float: right;
    margin-left: 5px;
}


.float-left{
    float: left;
}

.clear{
    clear: both;
}